@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-weight: 600;
}
html {
    font-size: 62.5%;
}
:root {
    --green: #6A983C;
    --bolder-green: #46760A;
    --black: #151515;
    --border-black: rgba(21, 21, 21, 5%);
    --light-gray: #A9A9A9;
    --gray-bg1: #D1D1D1;
    --gray-bg2: #F9F9F9;
    --gray: #575757;
    --gray-bg3: #F4F8EC;
    --white: #FFFFFF;
    --white-shadow: #F5F5F5;
    --orange : #E5704B;
    --width: 100px;
}
h2 {
    font-family:'Poppins', sans-serif;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: var(--black);
}
h3 {
    font-family:'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--black);
}
h6{
    font-family:'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--green);
}
.text-btn {
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--black);
}