@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-weight: 600;
}
html {
    font-size: 62.5%;
}
:root {
    --green: #6A983C;
    --red: rgba(231, 13, 13, 0.89);
    --bolder-green: #46760A;
    --black: #151515;
    --border-black: rgba(21, 21, 21, 5%);
    --light-gray: #A9A9A9;
    --gray-bg1: #D1D1D1;
    --gray-bg2: #F9F9F9;
    --gray: #575757;
    --gray-bg3: #F4F8EC;
    --white: #FFFFFF;
    --white-shadow: #F5F5F5;
    --orange : rgba(229, 112, 75, 1);
    --width: 100px;
}
h2 {
    font-family:'Poppins', sans-serif;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: var(--black);
}
h3 {
    font-family:'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--black);
}
h4 {
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.3rem;
}
h6{
    font-family:'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--green);
}
.text-btn {
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--black);
}
.select__input-styled {
    @apply flex justify-start flex-row items-start w-max;
    background: var(--gray-bg2);
    border: 1px solid var(--border-black);
    border-radius: 1.2rem;
    padding: .65rem 1.2rem;
}
.select-styled {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--black);
    background: var(--gray-bg2);
    border: none;
    outline: none;
}
.input-styled {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--light-gray);
    border: none;
    outline: none;
    background: var(--gray-bg2);
    max-width: 3rem;
}
.add__product-btn {
    border: 1px solid var(--bolder-green) !important;
    background: var(--green) !important;
    border-radius: 1.2rem !important;
    margin-left: auto;
    width: max-content;
    max-height: 3.6rem;
    outline: none !important;
}
.text__add-btn {
    color: var(--white);
    padding: 0.65rem 1.2rem 0.65rem 0.5rem;
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.3rem;
}
.line__box {
    border: 1px solid var(--gray-bg1);
    height: 100%;
    margin: 0 .5rem;
}
.PrivateTabIndicator-colorSecondary {
    background-color: var(--green) !important;
}