
.tab__btn {
    padding: 1.6rem 1.6rem 1.6rem 0 !important;
    width: max-content !important;
    outline: none !important;
    font-family:'Poppins', sans-serif;
    font-size: 1.8rem !important;
    line-height: 27px;
    font-weight: 600 !important;
    text-transform: none!important;
    color: var(--black);
}
.size__img {
    width: 90%;
    height: 70vh;
    object-position: center;
    object-fit: inherit;
}
.add__product-btn:hover,
.add__product-btn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--green);
    transform: translateY(-0.25em);
}