.product__detail-percent-btn {
    border-radius: 1.2rem;
    padding: 0 .8rem;
    position: absolute;
    margin-top: 3.2rem;
    z-index: 10;
    color: var(--green);
    background: var(--gray-bg3);
}
.text__p {
    font-family:'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--black);
}
.text__color-gray {
    color: var(--light-gray)!important;
}