.header {
    @apply flex flex-row justify-between items-center flex-wrap py-8;
    margin: 1.6rem 4.5rem;
}
.header__search {
    @apply flex justify-around flex-row items-start order-last mt-6 w-full md:order-none md:w-max md:justify-start;
    background: var(--gray-bg2);
    border: 1px solid var(--border-black);
    border-radius: 1.2rem;
    padding: 1rem 1.6rem;
}
.header .header__search .search__categories {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--black);
    background: var(--gray-bg2);
    border: none;
    outline: none;
}
.header .header__search .search__line {
    border: 1px solid var(--border-black);
    height: 2rem;
    margin: 0 1rem;
}
.header .header__search .search__input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--light-gray);
    border: none;
    outline: none;
    background: var(--gray-bg2);
    width: 20rem;
}
.header .header__search .search__btn .search__icon {
    transform: rotate(90deg);
    margin-left: .8rem;
    width: 1.6rem;
    height: 1.6rem;
    color: var(--black);
}
.header .header__icons {
    @apply flex flex-row relative items-center min-w-0;
}
.header .header__icons .user__icon {
    @apply md:mr-8 mr-16;
    color: var(--black);
    width: 2.4rem;
    height: 2.4rem;
}
.header .header__icons .basket__icon {
    color: var(--black);
    width: 2.4rem;
    height: 2.4rem;
}
.header .header__icons .header__icons-badge .MuiBadge-anchorOriginBottomLeftRectangle {
    background: var(--orange);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.header .header__search .search__categories:hover,
.header .header__search .search__btn .search__icon:hover{
    cursor: pointer;
    color: var(--green);
}
.header .header__icons .user__icon:hover,
.header .header__icons .basket__icon:hover {
    cursor: pointer;
}