.feedback {
    @apply flex flex-col;
    padding: 1.6rem 4.5rem;
}
.feedback__item {
    @apply flex flex-row;
}
.feedback__item-content {
    @apply flex flex-col items-center text-center py-10 px-14 border-none;
}
.feedback__item-review {
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.3rem;
    padding-bottom: 2.4rem;
    color: var(--black);
}
.feedback__item-reviewer {
    font-family:'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--light-gray);
}
.swiper-button-prev {
    left: 0;
    color: var(--green);
    font-size: 1.5rem;
}
.swiper-button-next {
    right: 0;
    color: var(--green);
    font-size: 1.5rem;
}