.menubar {
    @apply lg:flex-nowrap flex flex-row flex-wrap justify-start items-baseline text-left;
    padding: 1.6rem 4.5rem;
    background: var(--gray-bg2);
}
.menubar .menubar__btn {
    @apply lg:mt-6 flex flex-col items-baseline not-italic normal-case font-medium mr-16 p-0;
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--black);
}
.menubar .menubar__btn .icon__btn {
    color: var(--green);
}
.menubar .menubar__btn:hover {
    background: var(--gray-bg1);
}